---
import '~/assets/global.css'
import Panels from './_Panels'
import Page from './_Page'
import Overcome from './_Overcome'
---

<html lang="es" class="h-screen">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Impávido</title>
  </head>
  <body class="bg-no-repeat bg-cover bg-center bg-black">
    <div id="layer-init" class="w-full h-full bg-black"></div>
    <Panels client:only="solid-js" />
    <Page client:load />
    <Overcome client:only="solid-js" />
  </body>
</html>

<script>
  import ls from 'localstorage-slim'

  ls.config.ttl = 259200 /* 3 days */
  // ls.config.encrypt = true
  // ls.config.secret = 'Impávido-pass'
  ls.flush()
</script>
